<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}ioTopia{% endblock%}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'login/styles.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
	
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'login:index' %}">ioTopia</a>
			</div>
			<!--<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'main:send' %}">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
							Send Credit
						</a>
					</li>
				</ul>

			</div> -->
		</div>
	</nav>
	
	{% block body %}
	{% endblock %}

</body>
</html>