<form class="center-block" action="/main/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
	<div class="formUpper">
		<div class="form-group">
			<label for="id_height" class="form-control-label">Height</label>

		<input id="id_height" name="height"   
		    type="range"
		    min="0"                    // default 0
		    max="100"                  // default 100
		    step="25"                   // default 1
		    value="{{ Blindvals }}"                 // default min + (max-min)/2
		    data-orientation="horizontal" // default horizontal
		>
		</div>
	</div>	

	<div class="formLower">

		<div class="form-group">
			<div>
				<button type="submit" name="submitBlinds" class="btn btn-success center-block">Set Blinds</button>
			</div>
		</div>

	</div>			

</form>
