<form class="center-block" action="/main/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
	<div class="formUpper">
		<div class="form-group">
			<label for="id_brightness" class="form-control-label">
							Brightness
						</label>
			<input id="id_brightness" name="brightness" 
			    type="range"
			    min="0"                    // default 0
			    max="100"                  // default 100
			    step="10"                   // default 1
			    value="{{ lighting1 }}"                 // default min + (max-min)/2
			    data-orientation="horizontal" // default horizontal
			>
		</div>
	</div>	

	<div class="formLower">


		<div class="form-group">
			<div>
				<button type="submit" name="submitLighting" class="btn btn-success center-block">Set Lighting</button>
			</div>
		</div>

	</div>			

</form>
