<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}ioTopia{% endblock%}</title>
	{% load static from staticfiles %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{% static 'main/js/scripts.js' %}" ></script>


	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

</head>
<body>
	
	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2 menu">
			<div class="menuItem">
				<a href="{% url 'main:index' %}">
		        	<span class="glyphicon glyphicon-home"></span>&nbsp;Home
		        </a>
			</div>
			<div class="menuItem">
				<a href="{% url 'main:graphs' %}">
		        	<span class="glyphicon glyphicon-tasks"></span>&nbsp;Graphs
		        </a>
			</div>
		</div>
		{% block body %}

		{% endblock %}
	</div>
</div>


</body>
</html>