{% extends 'main/base.html' %}
{% block title %}Control{% endblock %}


{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading sendHeading"><h3>HVAC</h3></div>
				<div class="panel-body">
					
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<h4>North Zone Temperature: {{ northTemp }}</h4>
							<h4>North Zone Low: {{ northLow }}</h4>
							<h4>North Zone High: {{ northHigh }}</h4>

						</div>
						<div class="col-sm-12 col-md-6">
							<h4>West Zone Temperature: {{ westTemp }}</h4>
							<h4>West Zone Low: {{ westLow }}</h4>
							<h4>West Zone High: {{ westHigh }}</h4>

						</div>
					</div>
					<br>

					<form class="center-block" action="/main/control/" method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="form-group">
						<label for="id_hvacLoc" class="form-control-label">Location</label>
						<select id="id_hvacLoc" class="custom-select form-control" name="hvacLoc" type="number" required>
							<option selected>Select a location below</option>
						    <option value="1">North</option>
							<option value="2">West</option>
						</select>
					</div>

					<div class="form-group">
						<label for="id_lowHigh" class="form-control-label">
							Type
						</label>

						<div class="form-check">
							<label class="form-check-label">
						    <input id="id_lowHigh_0" class="form-check-input" type="radio" name="lowHigh" value="1" required>
						    Low
							</label>
						</div>

						<div class="form-check">
							<label class="form-check-label">
						    <input id="id_lowHigh_1" class="form-check-input" type="radio" name="lowHigh" value="2" required>
							High
							</label>
						</div>
						
					</div>
	
					<div class="form-group">
						<label for="id_temperature" class="form-control-label">
							Temperature
						</label>
						<input id="id_temperature" class="form-control" name="Temperature" type="number" required></input>
					</div>

					<div class="form-group">
						<div>
							<button type="submit" name="submitHVAC" class="btn btn-success center-block">Set HVAC</button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading sendHeading"><h3>Lighting</h3></div>
				<div class="panel-body">

					<div class="row">
						<div class="col-md-12">
							<h4>Current Brightness:</h4>
						</div>
						<div class="col-md-3"><h4>Zone 1: {{ lighting1 }}</h4></div>
						<div class="col-md-3"><h4>Zone 2: {{ lighting2 }}</h4></div>
						<div class="col-md-3"><h4>Zone 3: {{ lighting3 }}</h4></div>
						<div class="col-md-3"><h4>Zone 4: {{ lighting4 }}</h4></div>
						<div class="col-md-3"><h4>Zone 5: {{ lighting5 }}</h4></div>
						<div class="col-md-3"><h4>Zone 6: {{ lighting6 }}</h4></div>
						<div class="col-md-3"><h4>Zone 7: {{ lighting7 }}</h4></div>
						<div class="col-md-3"><h4>Zone 8: {{ lighting8 }}</h4></div>
					</div>
				
					<br>
					<form class="center-block" action="/main/control/" method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="form-group">
						<label for="id_lightingZoneNumber" class="form-control-label">Zone Number</label>
						<select id="id_lightingZoneNumber" class="custom-select form-control" name="hvacLoc" type="number" required>
							<option selected>Select a zone below</option>
						    <option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
						</select>
					</div>

					<div class="form-group">

						<label for="id_brightness" class="form-control-label">
							Brightness (Between 0 and 100)
						</label>
						<input id="id_brightness" class="form-control" name="brightness" type="number" required></input>
					</div>

					<div class="form-group">
						<div>
							<button type="submit" name="submitLighting" class="btn btn-success center-block">Set Lighting</button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}